<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/MyStyle.css') }}">
    <title>Andrew Woods Homepage</title>
</head>

<body>
	<h1> Description </h1>
	This is my website that I decided to make. I am doing a lot of different projects, 
	but the idea behind this one is to have something that I can keep track of the 
	different things I am doing.
	
	<p>
	  I am working on a few different projects. All of which require different skill sets.
	  I want to build a diverse skill set, as I am in the hopes of finding a job, and 
	  having more skills means I am more marketable, right? Maybe.
	</p>
	
	<h1> Projects </h1>
	
	<h2> Financial Managing Application </h2>
	
	<h3> Description </h3>
	I am interested in finances and I am trying to create an application in which I can use
	that will allow me to keep track of my spending and things like that. I have no
	intention of selling it, but if you are interested feel free to check it out on Github.
	
	<h3> Github </h3>
	
	Here is the main page for <a href="https://github.com/amwoods3/Finance"> Finance</a>.
	
	<h3> Details </h3>
	<div>
	  <li> Language: C++ </li>
	</div>
	
	<h2> 3D Game </h2>
	
	<h3> Description </h3>
	I started this application in school during my Computer Graphics course. I am interested
	in developing the game further and making it more interesting. Currently, you can
	run around in a maze. It works on Mac, as long as you can compile it (there are some 
	dependencies).
	
	<h3> Github </h3>
	There is no link to github yet.
	
	<h3> Details </h3>
	<div>
		<li> Language: C++ </li>
		<li> Tools: OpenGl2 </li>
	</div>
	
	
</body>