ul.navigationBar {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li a {
  display: block;
  background: #154399;
  color: black;
  width: 40px;
}

li a:hover {
  background: #555555;
  color: white;
}

h1 {
	background: #000099;
	color: #ffffff;
	border-radius: 5px;
}

h2 {
	background: #000099;
	color: #ffffff;
}

h3 {
	background: #000099;
	color: #ffffff;
}
